@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat;

<h1>Treat Details</h1>
<hr>
<h4>Name:</h4> <p> @Html.DisplayFor(model => model.Name)</p>

<h4>This treat's flavors:</h4>
@if(@Model.JoinEntities.Count == 0)
{
  <p>This treat has no flavor!
  @Html.ActionLink("Click Here to add one!", "AddFlavor", new { id = Model.TreatId})
  </p>
}
else
{
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    using (Html.BeginForm("DeleteFlavor", "Treats"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <li>
        <h4> @join.Flavor.Description
        </h4>

      <input id="btn" type="submit" value="Remove Flavor">
      </li>
    }
  }
  </ul>
}
<hr>

<h6>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</h6>

<h6>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</h6>

<h6>@Html.ActionLink("Treat List", "Index", "Treats")</h6>