@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h4>Add a new Flavor</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @* @Html.Label("Select Treat")
  @Html.DropDownList("TreatId") *@

  <input type="submit" value="Add new flavor" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>